<div class="flex flex-col items-center justify-center w-full">
  <!-- trackby -->
  <ng-container *ngFor="let post of postsWithUsers$ | async">
    <app-post [post]="post"></app-post>
  </ng-container>
</div>