/* You can add global styles to this file, and also import other style files */

@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

html,
body {
  height: 100%;
  background-color: #edf2f7;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

button:disabled {
  opacity: 0.75;
}

.error-toast {
  opacity: 0.9;
  background-color: red;
  color: white;
}

.success-toast {
  opacity: 0.9;
  background-color: green;
  color: white;
}

a:hover {
  cursor: pointer;
}
