<div [ngStyle]="style" class="mx-auto border-2 border-teal-200 rounded-full hover:border-purple-500">
  <div *ngIf="user; else defaultUser" class="w-full h-full">
    <img *ngIf="user?.avatar; else avatarPlaceholder" [src]="user?.avatar" class="object-cover w-full h-full rounded-full">
    <ng-template #avatarPlaceholder>
      <!-- Потестить без картинки -->
      <div class="flex items-center justify-center h-full">
        <div> {{ user?.fullName | initials | uppercase }}</div>
      </div>
    </ng-template>
  </div>

  <ng-template #defaultUser>
    <div class="flex items-center justify-center h-full">
      <div> {{ 'Default User' | initials | uppercase }}</div>
    </div>
  </ng-template>
</div>