<nav class="fixed z-10 flex flex-wrap items-center justify-between w-full p-4 bg-teal-500">
  <div class="flex items-center flex-shrink-0 mr-6 text-white">
    <a routerLink="/posts" routerLinkActive="active">
      <span class="text-xl font-semibold tracking-tight">Instagram</span>
    </a>
  </div>

  <div class="block lg:hidden">
    <button (click)="toggleMenu()"
      class="flex items-center px-3 py-2 text-teal-200 border border-teal-400 rounded hover:text-white hover:border-white">
      <svg class="w-3 h-3 fill-current" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
        <title>Menu</title>
        <path d="M0 3h20v2H0V3zm0 6h20v2H0V9zm0 6h20v2H0v-2z" />
      </svg>
    </button>
  </div>
  <div class="flex-grow w-full lg:flex lg:items-center lg:w-auto">

    <div class="text-sm lg:flex-grow"></div>

    <div [ngClass]="isOpen ? 'flex' : 'hidden'" class="flex-col justify-between lg:flex lg:flex-row md:w-1/2 lg:w-64">
      <button class="flex mt-4 text-teal-200 align-middle lg:inline-block lg:mt-0 hover:text-white" (click)="addPost()">
        Add Post
      </button>
      <button class="flex items-center mt-4 text-teal-200 align-middle lg:inline-block lg:mt-0 lg:mx-4 hover:text-white"
        (click)="goToUserProfile()">
        <app-avatar [user]="user" [size]="40"></app-avatar>
        <span class="ml-2 lg:hidden">Profile</span>
      </button>
      <button class="flex mt-4 text-teal-200 align-middle lg:inline-block lg:mt-0 hover:text-white"
        (click)="authService.logout()">
        <svg class="w-6 h-6" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
          <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
            d="M17 16l4-4m0 0l-4-4m4 4H7m6 4v1a3 3 0 01-3 3H6a3 3 0 01-3-3V7a3 3 0 013-3h4a3 3 0 013 3v1" />
        </svg>
        <span class="ml-2 lg:hidden">Logout</span>
      </button>
    </div>
  </div>
</nav>