<!-- <input type="file"
id="file"
(change)="myUploader($event.target.files)">

<div *ngFor="let i of imgs">
  <span>{{i.title}}</span>
  <img [src]="i.img">
</div>
<mat-slider min="1" max="100" step="1" value="1"></mat-slider> -->
<app-header *ngIf="authService.isAuth"></app-header>
<div [ngClass]="{'header-padding': authService.isAuth}">
  <router-outlet></router-outlet>
</div>