<div class="flex my-2">
  <div class="flex w-full">
    <app-avatar (click)="goToUserProfile()" class="cursor-pointer" [user]="comment.user" [size]="40"></app-avatar>

    <div class="flex-grow ml-2">
      <div (click)="goToUserProfile()" class="inline-block text-sm font-medium text-purple-700 cursor-pointer">
        {{ comment?.user?.fullName }}
      </div>
      <p *ngIf="!isEdit" class="text-sm break-words">
        {{ comment?.text }}
      </p>
      <p class="text-xs text-gray-600">{{ comment?.date | date: 'mediumDate' }}</p>

      <!-- вынести в отдельную компоненту -->

      <!-- Чекнуть все ли флексы нужны -->
      <div class="flex" *ngIf="isEdit">
        <textarea
          class="h-auto px-2 py-3 overflow-hidden leading-tight text-gray-700 border rounded shadow appearance-none resize-none w-16/18 focus:outline-none focus:shadow-outline"
          cdkTextareaAutosize #autosize="cdkTextareaAutosize" cdkAutosizeMinRows="1" cdkAutosizeMaxRows="10"
          placeholder="edit comment" autocomplete="off" [(ngModel)]="text">
        </textarea>

        <button class="flex self-center ml-2" (click)="editComment(text)">
          <svg class="w-6 h-6 text-teal-500 stroke-current fill-white" xmlns="http://www.w3.org/2000/svg"
            viewBox="0 0 24 24" transform="rotate(90)">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
              d="M12 19l9 2-9-18-9 18 9-2zm0 0v-8" />
          </svg>
        </button>
      </div>
    </div>
    <div *ngIf="shouldShowEditButtons" class="flex flex-col justify-between py-4">
      <button (click)="enableEdit()">
        <svg class="w-5 h-5 text-teal-500 stroke-current fill-white" xmlns="http://www.w3.org/2000/svg"
          viewBox="0 0 24 24">
          <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
            d="M15.232 5.232l3.536 3.536m-2.036-5.036a2.5 2.5 0 113.536 3.536L6.5 21.036H3v-3.572L16.732 3.732z" />
        </svg>
      </button>

      <button (click)="deleteComment(comment._id)">
        <svg class="w-5 h-5 text-teal-500 stroke-current fill-white" xmlns="http://www.w3.org/2000/svg"
          viewBox="0 0 24 24">
          <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
            d="M19 7l-.867 12.142A2 2 0 0116.138 21H7.862a2 2 0 01-1.995-1.858L5 7m5 4v6m4-6v6m1-10V4a1 1 0 00-1-1h-4a1 1 0 00-1 1v3M4 7h16" />
        </svg>
      </button>
    </div>
  </div>
</div>