<div class="container flex items-center justify-center h-screen">
  <div class="w-full max-w-md">
    <form [formGroup]="authForm" (ngSubmit)="auth()" class="px-8 pt-6 pb-8 mb-4 bg-white rounded shadow-md">
      <h2 class="text-xl font-bold text-center text-teal-500">Registration</h2>

      <!-- Name -->
      <div class="flex flex-col pt-4">

        <label for="name" class="text-lg">Name</label>
        <input formControlName="name" type="text" id="name" placeholder="Name"
          class="w-full px-3 py-2 mt-1 leading-tight text-gray-700 border rounded shadow appearance-none focus:outline-none focus:shadow-outline">
        
        <p *ngIf="requiredError('name')" class="text-xs italic text-red-500">
          {{ 'REQUIRED_VALIDATION_ERROR' | translate: { field: 'Last name' } }}
        </p>

        <!-- Last Name -->
      </div>
      <div class="flex flex-col pt-4">
        <label for="lastName" class="text-lg">Last name</label>
        <input formControlName="lastName" type="text" id="lastName" placeholder="Last Name"
          class="w-full px-3 py-2 mt-1 leading-tight text-gray-700 border rounded shadow appearance-none focus:outline-none focus:shadow-outline">
        
        <p *ngIf="requiredError('lastName')" class="text-xs italic text-red-500">
          {{ 'REQUIRED_VALIDATION_ERROR' | translate: { field: 'Last name' } }}
        </p>
      </div>

      <!-- Email -->
      <div class="flex flex-col pt-4">
      
        <label for="email" class="text-lg">Email</label>
        <input formControlName="email" type="email" id="email" placeholder="your@email.com"
          class="w-full px-3 py-2 mt-1 leading-tight text-gray-700 border rounded shadow appearance-none focus:outline-none focus:shadow-outline">
      
        <p *ngIf="emailError()" class="text-xs italic text-red-500">{{ 'EMAIL_VALIDATION_ERROR' | translate }}.</p>
        <p *ngIf="requiredError('email')" class="text-xs italic text-red-500">
          {{ 'REQUIRED_VALIDATION_ERROR' | translate: { field: 'Email' } }}
        </p>
      </div>

      <!-- Password -->
      <div class="flex flex-col pt-4">
      
        <label for="password" class="text-lg">Password</label>
        <input formControlName="password" type="password" id="password" placeholder="Password"
          class="w-full px-3 py-2 mt-1 leading-tight text-gray-700 border rounded shadow appearance-none focus:outline-none focus:shadow-outline">
      
        <p *ngIf="requiredError('password')" class="text-xs italic text-red-500">
          {{ 'REQUIRED_VALIDATION_ERROR' | translate: { field: 'Password' } }}
        </p>
        <p *ngIf="passwordError()" class="text-xs italic text-red-500">
          {{ 'PASSWORD_MIN_LENGTH_ERROR' | translate: { value: MIN_PASSWORD_LENGTH } }}
        </p>
      </div>

      <!-- Buttons -->
      <div class="flex items-center justify-between">
        <button type="submit" [disabled]="authForm.invalid"
          class="w-full p-2 mt-8 text-lg font-bold text-center text-white bg-teal-500 shadow-lg hover:bg-teal-600 focus:outline-none">
          {{ 'SEND' | translate | uppercase }}
        </button>
      </div>
    </form>
    <p class="text-xs text-center text-gray-500">
      &copy;Dmitry Shatalov
    </p>
  </div>
</div>
