<div class="max-w-md pt-6 pb-10 mx-auto bg-white card md:rounded-lg">
  <form [formGroup]="addPostForm" (ngSubmit)="onSubmit($event)">
    <div>
      <div class="flex flex-col my-2 text-sm">
        <label for="title" class="mb-2 font-bold">{{ 'Title' | translate }}</label>
        <input id="title" class="p-2 border border-gray-200 appearance-none focus:outline-none focus:border-gray-500"
          formControlName="title" placeholder="Title" type="text" required autocomplete="off" />
      </div>

      <div class="flex flex-col my-2 text-sm">
        <label for="description" class="mb-2 font-bold">{{ 'Description' | translate}}</label>
        <textarea id="description" rows="10"
          class="p-2 border border-gray-200 appearance-none focus:outline-none focus:border-gray-500"
          formControlName="description" placeholder="Description" type="text">
        </textarea>
      </div>


      <div class="flex flex-col mt-2 text-sm">
        <label for="img" class="mb-2 font-bold">Image</label>
        <input id="img" hidden (change)="onFileSelected($event)" #fileInput type="file">
      </div>

      <button type="button" (click)="fileInput.click()"
        class="inline-flex items-center px-4 py-2 font-bold text-gray-800 bg-gray-300 rounded hover:bg-gray-400">
        <svg class="w-4 h-4 mr-2 fill-current" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20">
          <path d="M13 8V2H7v6H2l8 8 8-8h-5zM0 18h20v2H0v-2z" /></svg>
        <span>Choose File</span>
      </button>

    </div>
    <button
      class="w-full px-4 py-2 mt-8 font-semibold text-center text-white bg-teal-500 shadow-lg hover:bg-teal-600 focus:outline-none"
      type="submit">
      {{ 'SUBMIT' | translate | uppercase }}
    </button>
  </form>
</div>