<ng-container *ngFor="let comment of commentsWithUsers$ | async">
  <app-comment [comment]="comment" [postId]="postId"></app-comment>
</ng-container>

<!-- вынести в отдельную компоненту? -->
<div class="flex my-6">
  <textarea
    class="w-full px-2 py-3 overflow-hidden leading-tight text-gray-700 border rounded shadow appearance-none resize-none focus:outline-none focus:shadow-outline"
    cdkTextareaAutosize cdkAutosizeMinRows="1" cdkAutosizeMaxRows="10" placeholder="Enter comment"
    [(ngModel)]="comment">
</textarea>
  <div class="flex self-center h-full">
    <button (click)="send(comment)" class="ml-3 border-gray-900">
      <svg class="w-6 h-6 text-teal-500 stroke-current fill-white" xmlns="http://www.w3.org/2000/svg"
        viewBox="0 0 24 24" transform="rotate(90)">
        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 19l9 2-9-18-9 18 9-2zm0 0v-8" />
      </svg>
    </button>
  </div>
</div>