
<div class="flex flex-wrap w-full">

  <!-- Login Section -->
  <div class="flex flex-col w-full md:w-1/2">

    <div class="flex flex-col justify-center px-8 pt-8 my-auto md:justify-start md:pt-0 md:px-24 lg:px-32">
      <p class="text-3xl text-center">Welcome</p>
      <form class="flex flex-col pt-3 md:pt-8" [formGroup]="authForm" (ngSubmit)="auth()">
        <div class="flex flex-col pt-4">

          <label for="email" class="text-lg">Email</label>
          <input formControlName="email" type="email" id="email" placeholder="your@email.com"
            class="w-full px-3 py-2 mt-1 leading-tight text-gray-700 border rounded shadow appearance-none focus:outline-none focus:shadow-outline">

          <p *ngIf="emailError()" class="text-xs italic text-red-500">{{ 'EMAIL_VALIDATION_ERROR' | translate }}.</p>
          <p *ngIf="requiredError('email')" class="text-xs italic text-red-500">
            {{ 'REQUIRED_VALIDATION_ERROR' | translate: { field: 'Email' } }}
          </p>
        </div>

        <div class="flex flex-col pt-4">

          <label for="password" class="text-lg">Password</label>
          <input formControlName="password" type="password" id="password" placeholder="Password"
            class="w-full px-3 py-2 mt-1 leading-tight text-gray-700 border rounded shadow appearance-none focus:outline-none focus:shadow-outline">

          <p *ngIf="requiredError('password')" class="text-xs italic text-red-500">
            {{ 'REQUIRED_VALIDATION_ERROR' | translate: { field: 'Password' } }}
          </p>
          <p *ngIf="passwordError()" class="text-xs italic text-red-500">
            {{ 'PASSWORD_MIN_LENGTH_ERROR' | translate: { value: MIN_PASSWORD_LENGTH } }}
          </p>
        </div>

        <button type="submit" [disabled]="authForm.invalid"
          class="p-2 mt-8 text-lg font-bold text-center text-white bg-teal-500 shadow-lg hover:bg-teal-600 focus:outline-none">
          {{ 'SEND' | translate | uppercase }}
        </button>
      </form>
      <div class="pt-12 pb-12 text-center">
        <p>Don't have an account? <a routerLink="/register" class="font-semibold underline">Register here.</a></p>
      </div>
    </div>

  </div>

  <!-- Image Section -->
  <div class="w-1/2 shadow-2xl">
    <img class="hidden object-cover w-full h-screen md:block" src="https://source.unsplash.com/IXUM4cJynP0">
  </div>
</div>