<div class="container w-full h-full">
  <div class="max-w-md p-10 mx-auto my-8 bg-white card md:rounded-lg">
    <h2 class="text-lg font-medium text-teal-500">{{ 'Profile' | translate }}</h2>
    <form *ngIf="isCurrentUserProfile; else profile" [formGroup]="userSettingsForm" (ngSubmit)="onSubmit($event)">

      <div class="flex flex-col my-2 text-sm">
        <label for="name" class="mb-2 font-bold">Name</label>
        <input id="name" class="p-2 border border-gray-200 appearance-none focus:outline-none focus:border-gray-500"
          formControlName="name" placeholder="Name" type="text" />
      </div>

      <div class="flex flex-col my-2 text-sm">
        <label for="lastName" class="mb-2 font-bold">Last name</label>
        <input id="lastName" class="p-2 border border-gray-200 appearance-none focus:outline-none focus:border-gray-500"
          formControlName="lastName" placeholder="Last name" type="text" />
      </div>


      <div class="flex flex-col mt-2 text-sm">
        <label for="avatar" class="mb-2 font-bold">Avatar</label>
        <input id="avatar" hidden (change)="onFileSelected($event)" #fileInput type="file">
      </div>

      <button type="button" (click)="fileInput.click()"
        class="inline-flex items-center px-4 py-2 font-bold text-gray-800 bg-gray-300 rounded hover:bg-gray-400">
        <svg class="w-4 h-4 mr-2 fill-current" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20">
          <path d="M13 8V2H7v6H2l8 8 8-8h-5zM0 18h20v2H0v-2z" /></svg>
        <span>Choose File</span>
      </button>


      <button
        class="w-full px-4 py-2 mt-8 font-semibold text-center text-white bg-teal-500 shadow-lg hover:bg-teal-600 focus:outline-none"
        type="submit">
        {{ 'SUBMIT' | translate | uppercase }}
      </button>

    </form>
  </div>
</div>

<ng-template #profile>
  <div class="p-6 bg-white rounded-lg md:flex">
    <app-avatar class="md:mx-0 md:mr-6" [user]="user" [size]="96"></app-avatar>
    <div class="pt-4 text-center md:text-left md:pt-0">
      <h2 class="text-lg">{{ user?.fullName }}</h2>
      <div class="text-purple-500">Product Engineer</div>
      <div class="text-gray-600">email@example.com</div>
      <div class="text-gray-600">(555) 765-4321</div>
    </div>
  </div>
</ng-template>