<div class="max-w-screen-sm mt-6 overflow-hidden bg-white rounded shadow-lg">
  <div class="flex items-center m-4">
    <app-avatar (click)="goToUserProfile()" [user]="post?.user" class="cursor-pointer"></app-avatar>
    <div class="flex-grow pl-2 text-sm">
      <p (click)="goToUserProfile()" class="font-medium leading-none text-purple-700 cursor-pointer">
        {{ post?.user?.fullName }}</p>
      <p class="text-gray-600">{{ post?.date | date: 'mediumDate' }}</p>
    </div>
    <button class="flex self-center ml-2" (click)="deletePost(post._id)">
      <svg class="w-6 h-6 text-teal-500 stroke-current fill-white" xmlns="http://www.w3.org/2000/svg"
        viewBox="0 0 24 24">
        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
          d="M19 7l-.867 12.142A2 2 0 0116.138 21H7.862a2 2 0 01-1.995-1.858L5 7m5 4v6m4-6v6m1-10V4a1 1 0 00-1-1h-4a1 1 0 00-1 1v3M4 7h16" />
      </svg>
    </button>
  </div>
  <img mat-card-image [src]="post.img" alt="post image">
  <div class="px-6 py-4">
    <div class="mb-2 text-xl font-bold text-gray-800">{{ post.title }}</div>
    <p class="text-base text-gray-700">
      {{ post.description }}
    </p>
  </div>
  <div class="px-6 pt-4 pb-2">
    <app-comments [postId]="post._id"></app-comments>
  </div>
</div>